.App {
  text-align: center;
}

.comic {
  height: 30vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comicContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20vh;
}

.footer {
  text-align: center;
}

.header {
  background:black;
  color: white;
  height:80px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
}

body {
  background-image: url("./OOCC_background_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}
