.App {
  text-align: center;
}

.comic {
  height: 30vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comicContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header {

}

body {
  background-image: url("./OOCC_background_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}
